//  variables
@color-yellow: #fff781;
@color-grey: #bbb;
@color-section-header: #363636;
@color-page-header: @color-section-header;
@color-input-text: @color-section-header;
@color-block-header: #424242;
@color-block-descr: #7f7f7f;
@color-bg-light-grey: #f5f5f5;
@color-bg-lighter-grey: #fafafc;
@menu-bg: transparent;
@main-theme-bg: linear-gradient(to right, #1d1e63 0%,#0f1526 100%);
@color-table-divider: #dadada;
@color-btn-blue: linear-gradient(31deg, #3a3897, #29abe2);
@color-red: #e24c59;

@green-custom: #44b91a;
@primary-color: @green-custom;
@btn-border-radius-base: 10em;
@btn-font-weight: bold;
@btn-font-size-default: 16px;
@btn-font-size-lg: @btn-font-size-default;
@input-height-base: 39px;

// headers
@login-banner-header: 44px;
@login-banner-text: 20px;
@section-header: 30px;


// card
@card-padding-base: 20px 50px 30px 20px;
@landing-section-header: 38px;

.making-payment-page {
  width: 55%;
  max-width: 700px;
  margin: 40px auto 0;
  .payment-steps {
    display: flex;
    justify-content: space-between;
    position:relative;
    li {
      padding-left: 24px;
      line-height: 24px;
      position: relative;
      color: @color-grey;
      font-weight: 600;
      font-size: 16px;
      &.active {
        color: @color-section-header;
      }
    }
    li.separator {
      padding-left: 0;
      flex-basis: 25px;
      &:before {
        content: ".....";
        color: @color-grey;
        position:absolute;
        left:0;
        bottom: 4px;
        font-weight: normal;
      }
    }
    li.step{
      &:before {
        content: " ";
        position:absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 14px;
        height: 14px;
        background: #dcffd0;
        border: 1px solid @green-custom;
        border-radius: 50%;
      }
      a {
        color: @color-grey;
      }
      a:hover, a:active, a:focus {
        text-decoration: none;
      }
      &.complete {
        a {
          color: @color-section-header;
        }
        :before {
          content: " ";
          position:absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 14px;
          height: 14px;
          background: @green-custom;
          border: 1px solid @green-custom;
          border-radius: 50%;
        }
        :after {
          content: "\E632";
          font-family: "anticon" !important;
          color: #fff;
          font-size: 10px;
          display: block;
          position:absolute;
          left: 2px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .ant-card.making-payment-card {
    margin-top: 40px;
    .ant-card-body {
      padding: 20px 0;
    }
    h1 {
      font-size: 30px;
      color: @color-section-header;
      margin-bottom: 30px;
      padding: 0 20px;
      font-weight: bold;
    }
    .amounts-form {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid @color-table-divider;
      .ant-form-item {
        margin:0;
        padding: 0 20px 30px;
      }
      .exchange-icons {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
      }
      .exchange-lable {
        display:flex;
        justify-content: space-between;
        font-weight: bold;
        margin-bottom: 10px;
        label {
          font-size: 16px;
        }
        span {
          font-size: 16px;
          color: @color-grey;
        }
      }
    }
  }
  .payment-info-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0 20px 20px;
    border-bottom: 1px solid @color-table-divider;
    .info-title {
      color: @color-block-descr;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 8px;
    }
    .info-value {
      margin:0;
      color: @color-section-header;
      font-weight: bold;
      font-size: 14px;
    }
  }
  .arrival {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px 20px;
    border-bottom: 1px solid @color-table-divider;
    .arrival-title {
      color: @color-block-descr;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 8px;
    }
    .arrival-value {
      margin:0;
      color: @color-section-header;
      font-weight: bold;
      font-size: 14px;
      position:relative;
      padding-left: 17px;
      &:before {
        content: '';
        display: block;
        background: url('/assets/images/alarm-clock.svg');
        width:12px;
        height: 12px;
        position:absolute;
        left:0;
        top: 3px;
      }
    }
  }
  .btns-making-payment {
    margin-top: 30px;
    padding: 0 20px;
    text-align: right;
    .ant-btn {
      width: 25%;
      min-width: 130px;
      &.btn-success {
        margin-left:30px;
      }
    }
  }
}

.ant-card.making-payment-info {
  margin-top: 40px;
  h1 {
    font-size: 30px;
    color: #363636;
    margin-bottom: 30px;
    padding: 0 20px;
    font-weight: bold;
  }
  .ant-card-body {
    padding: 20px 0;
    .ant-row.ant-form-item {
      width: 100%
    }
    .ant-row.ant-form-item:last-of-type {
      margin: 0 0 0 10px;
      padding: 0;
    }
    .ant-row.ant-form-item:first-of-type {
      margin: 0 10px 0 0;
      padding: 0;
    }
  }
  .divider {
    border-bottom: 1px solid @color-table-divider;
    margin-bottom: 30px;
  }
  .info-row {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 30px;
    .form-label {
      margin-bottom: 8px;
      color: @color-block-header;
      font-size: 16px;
      font-weight: bold;
      span {
        font-weight: normal;
        font-size: 14px;
        margin-left: 8px;
        color: @color-grey;
      }
    }
    .required-field label:before {
      content: '*';
      position: absolute;
      color: @green-custom;
      right: -10px;
    }
  }
  .recaptcha-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px;
    .recaptcha {
      transform: scale(0.8);
    }
    .asterisk-before {
      color: @color-grey;
      position: relative;
      padding-left: 10px;
      font-size: 16px;
      &:before {
        content: '*';
        position: absolute;
        color: @green-custom;
        left: 0;
      }
    }
  }
}

.ant-card.making-payment-order {
  margin: 40px 0 30px;
  .ant-card-body {
    padding: 20px 0 30px;
  }
  .card-header {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: @color-section-header;
    h1 {
      font-weight: bold;
      font-size: 30px;
      margin: 0;
    }
    .order-number {
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
    }
  }
  .card-section-row {
    display: flex;
    padding: 0 20px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid @color-table-divider;
    font-weight: bold;
    .item-title {
      flex-basis: 40%;
      color: @color-block-descr;
    }
    .item-value {
      color: @color-block-header;
    }
    .value-green {
      color: @green-custom;
    }
  }
  .btn-success {
    padding: 0;
  }
}

.payment-available-time {
  text-align: center;
  color: #e24c59;
  margin: 30px auto 50px;
  font-weight: bold;
}

// making-payment-pay

.ant-card.making-payment-pay {
  margin: 40px 0 30px;
  .ant-card-body {
    padding: 20px 0 30px;
  }
  .card-header {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: @color-section-header;
    font-weight: bold;
    h1 {
      font-weight: bold;
      font-size: 30px;
      margin: 0;
    }
    .order-number {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .card-section {
    color: @color-section-header;
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid @color-table-divider;
    text-align: center;
    .send {
      font-size: 20px;
      letter-spacing: 1px;
      color: @color-section-header;
      font-weight: bold;
      & .green {
        color: @green-custom;
      }
    }
    .send-description {
      color: @color-section-header;
      font-weight: bold;
      font-size: 16px;
    }
    .wallet {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 20px;
      position: relative;
      padding-right: 24px;
      display: inline-block;
      &:before {
        content: '';
        display: block;
        background: url('/assets/images/copy.svg') no-repeat;
        width:14px;
        height: 16px;
        position:absolute;
        right:0;
        top: 4px;
      }
    }
    .wallet-description {
      font-size: 14px;
      margin-bottom: 40px;
      color: @color-grey;
    }
    .qr-code {
      margin-bottom: 20px;
    }
  }
  .card-section:last-of-type {
    padding-bottom: 40px;
  }
  .btn-success {
    padding: 0;
  }
}
