@import '~antd/dist/antd.less';
@import 'fonts.less';

* {
  font-family: 'ProximaNova', sans-serif;
}

//  variables
@color-yellow: #fff781;
@color-grey: #bbb;
@color-section-header: #363636;
@color-page-header: @color-section-header;
@color-input-text: @color-section-header;
@color-block-header: #424242;
@color-block-descr: #7f7f7f;
@color-bg-light-grey: #f5f5f5;
@color-bg-lighter-grey: #fafafc;
@menu-bg: transparent;
@main-theme-bg: linear-gradient(to right, #1d1e63 0%,#0f1526 100%);
@color-table-divider: #dadada;
@color-btn-blue: linear-gradient(31deg, #3a3897, #29abe2);
@color-red: #e24c59;

@green-custom: #44b91a;
@primary-color: @green-custom;
@btn-border-radius-base: 10em;
@btn-font-weight: bold;
@btn-font-size-default: 16px;
@btn-font-size-lg: @btn-font-size-default;
@input-height-base: 39px;

// headers
@login-banner-header: 44px;
@login-banner-text: 20px;
@section-header: 30px;

// card
@card-padding-base: 20px 50px 30px 20px;
@landing-section-header: 38px;

ul {
  margin:0;
  padding:0;
  list-style: none;
}


// remove btn click animation
.ant-btn-clicked:after {
    animation-duration: 0s !important;
}


.ant-menu-horizontal {
    justify-content: flex-end;
    border-bottom: 0;
    line-height: 70px;
    display:flex;
    width: 100%;
    .ant-menu-item {
      .menu-avatar {
        margin: 0 10px 7px 0;
      }
      &.green {
        &:hover {
          color:@green-custom;
          border-bottom-color: transparent;
          &:before {
            content: " ";
            width: 5px;
            height: 5px;
            border-radius: 10em;
            background: @green-custom;
            display: block;
            position: absolute;
            left: 50%;
            bottom: 17px;
            tramsform:translateX(-50%);
          }
        }
        a {
          color:@green-custom;
          &:hover {
            color:@green-custom;
            border-bottom-color: transparent;
          }
        }
      }
      &:not(.green):hover {
        color:#fff;
        border-bottom-color: transparent;
        &:before {
          content: " ";
          width: 5px;
          height: 5px;
          border-radius: 10em;
          background: #fff;
          display: block;
          position: absolute;
          left: 50%;
          bottom: 17px;
          tramsform:translateX(-50%);
        }
      }
      a{
        border-bottom: 0;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        &:hover {
          color: #fff;
        }
      }
    }
    .ant-menu-item.ant-menu-item-selected {
      border-bottom-color: transparent;
      &:before {
        content: " ";
        width: 5px;
        height: 5px;
        border-radius: 10em;
        background: #fff;
        display: block;
        position: absolute;
        left: 50%;
        bottom: 17px;
        tramsform:translateX(-50%);
      }
    }
}

.btn-link(){
  border: 0px;
  color: @green-custom;
  background: transparent;
  border: none;
  .ant-btn > .anticon + span, .ant-btn > span + .anticon {
    margin-left: 3px;
  }
  &:hover {
    background: transparent;
  }
}

.btn-link-red(){
  border: 0px;
  color: @color-red;
  background: transparent;
  border: none;
  .ant-btn > .anticon + span, .ant-btn > span + .anticon {
    margin-left: 3px;
  }
  &:hover {
    background: transparent;
  }
}

.btn-link-small(){
  font-size:14px;
  .btn-link()
}

//  Login

.login-page {
  height:100vh;
}

.aside-banner {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  height:100%;
  color: #fff;

  h1 {
    font-weight: bold;
    font-size: @login-banner-header;
    color:inherit;
  }
  ul {
    font-size: @login-banner-text;
    li {
      margin-bottom: 30px;
    }
  }
}

.col {
  height:100%;
}

.col-banner {
  background: linear-gradient(to right, #1d1e63 0%,#0f1526 100%);
}

.col.login-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
  h1 {
    font-size: @section-header;
  }
  .login-form {
    width: 300px;
    label {
      font-size: 16px;
      font-weight:bold;
      margin-bottom: 0;
    }
    .lable-description {
      display:block;
      margin: 11px 0;
      font-weight:14px;
      color:@color-grey;
    }
  }
  .login-footer {
    display:flex;
    width: 80%;
    justify-content: space-between;
    position:absolute;
    bottom: 70px;
  }
}

.link {
  height: 40px;
  .btn-link();
}
.link-small {
  .btn-link-small();
}
.btn-success{
    padding: 0 50px;
    height:@btn-height-lg;
  }

  .ant-btn.btn-grey {
    padding: 0 50px;
    height:@btn-height-lg;
    background: @color-grey;
    color: #fff;
    &:hover, &:focus {
      background: lighten(@color-grey, 10%);
      border-color: lighten(@color-grey, 10%);;
      color: #fff;
    }
    &:active {
      background: darken(@color-grey, 10%);
      border-color: darken(@color-grey, 10%);;
      color: #fff;
    }
  }

// Landing page
.landing-top-menu {
  background: @main-theme-bg;
}

#landing-page {
  background: linear-gradient(to right, #1d1e63 0%,#0f1526 100%);
  .aside-wrapper {
    width: 100%;
    height: 600px;
    .aside-landing-banner {
      width: 75%;
      justify-content: flex-end;
      align-items: flex-start;
      .btn-get-started {
        margin-top: 35px;
      }
    }
  }
  .deals {
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    width: 75%;
    color: #fff;
    .deals-per-day {
      font-size: 30px;
    }
    .deals-per-day {
      font-size: 30px;
      font-weight: bold;
      &.deals-number {
        color:@color-yellow;
      }
      &.deals-text {
        margin-right: 30px;
      }
    }
    .deals-description {
      margin-top: 12px;
      line-height: 17px;
    }
  }
}

.landing-exchange {
  width: 30%;
  min-width: 320px;
  max-width: 400px;
  display: flex;
  align-items: flex-end;
}


.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
  font-weight: bold;
}
.ant-row.ant-form-item.input-with-dropdown {
  .ant-input {
    width:60%;
    border-radius: 4px 0 0 4px;
    border-right: none;
    font-weight: bold;
    font-size: 16px;
    color: @color-input-text;
    &:hover, &:focus {
      border-color: #d9d9d9;
      box-shadow: none;
    }
  }
  .ant-btn.ant-dropdown-trigger {
    width: 40%;
    border-radius: 0 4px 4px 0;
    height: 39px;
    vertical-align: bottom;
    border-left: 0;
    color: @green-custom;
    font-weight: bold;
    .anticon.anticon-down {
      position: absolute;
      right: 10px;
      font-size: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover, &:focus {
      border-color: #d9d9d9;
    }
    &:before {
      content: '';
      width: 1px;
      height: 23px;
      top: 8px;
      background: #d9d9d9;
      position: absolute;
      display: block;
    }
  }
}


.exchange-box {
  width: 90%;
  min-width: 280px;
  border-radius: @border-radius-base;
  h2 {
    margin: 0;
  }
  .exchange-form {
    margin-top: 27px;
  }
  .ant-form-vertical .ant-form-item {
      padding-bottom: 0;
      &.btn-exchange {
        margin-bottom: 0;
        text-align: center;
      }
  }
  .ant-row.ant-form-item {
    margin-bottom: 20px;
  }
  .exchange-icons {
    margin-bottom: 20px;
  }
  .exchange-lable {
    display:flex;
    justify-content: space-between;
    font-weight: bold;
    label {
      font-size: 16px;
    }
    span {
      font-size: 16px;
      color: @color-grey;
    }
  }
}

.green-icon {
  font-size: 20px;
  color: @green-custom;
  font-weight: bold;
}

// how it works section
.landing-section-header {
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  font-size: @landing-section-header;
  color: @color-section-header;
}
#how-it-works {
  padding: 70px 0 0;
  .img-blocks {
    display: flex;
    justify-content: space-around;
    margin: 70px 0;
    .img-blocks-item {
      max-width: 230px;
      text-align: center;
      .block-header {
        font-size: 20px;
        font-weight: bold;
        color: @color-block-header;
      }
      .block-description {
        color: @color-block-descr;
      }
      img {
        width: 125px;
        height: auto;
        margin-bottom:  30px;
      }
    }
  }
  .trading {
    background: @color-bg-light-grey;
    padding: 60px 0;
    height: 630px;
    overflow-x: hidden;
    h3 {
      font-size: 30px;
      font-weight: bold;
      color: @color-section-header;
    }
    ul {
      max-width: 490px;
      margin: 36px 0;
      li {
        font-size: 14px;
        font-weight: bold;
        color: @color-block-header;
        margin-bottom: 20px;
        &:last-of-type {
          margin-bottom:0;
        }
    }
    }
    .img-laptop {
      height: 100%;
      background: url('/assets/images/laptop/laptop@2x.png') no-repeat;
      background-size: contain;
    }
  }
}

// FAQ
.faq-wrapper {
  padding: 40px 0 70px;
  margin:0 auto;
  width: 50%;
  min-width: 480px;
}
  #faq {
    .questions-list {
      width: 100%;
      margin-top: 70px;
      color: @green-custom;
      font-size: 20px;
      font-weight: bold;
      li {
        margin-bottom: 20px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      .anticon-arrow-down {
        margin-right: 20px;
      }
    }
  }


// payment systems

#payment-systems {
 background: @color-bg-light-grey;
 padding: 70px 0;
 .ps-logos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto 0;
    width: 80%;
    max-width: 1100px;
    .payment-logo {
      max-width: 150px;
      img {
        width: 100%;
        height: auto;
      }
    }
 }
}

//  landing footer

.landing-footer {
  position: relative;
  background: @main-theme-bg;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
  flex-wrap: wrap;
  .footer-menu-wrapper {
    order: 2;
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  .copyrights {
    width: 170px;
    order: 1;
    color: #fff;
  }
  .go-to-top {
    font-size: 25px;
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: none;
  }
}
  // Exchange Rate
  .exchange-rate-table {
    .ant-card-body {
      color: @color-block-header;
      padding: 20px 30px;
      .curr-list-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .curr-charts-list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: @color-block-descr;
      font-weight: bold;
      font-size: 16px;
      li {
        margin-bottom: 20px;
        &.active {
          color: @green-custom;
        }
      }
    }
    .time-range-filters {
      margin: 36px 0 40px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      font-size: 16px;
      color: @color-block-descr;
      width: 70%;
      & li.active {
        color: @green-custom;
      }
    }
  }

  .exchange-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title-with-button {
      display: flex;
      align-items: center;
    }
    .rate-info {
      display:flex;
      justify-content: space-between;
    }
    .btn-currency {
      background: @color-btn-blue;
      color: #fff;
      border-radius: 4px;
      padding: 5px 7px;
    }
    p {
      line-height: 37px;
      font-weight:bold;
      margin:0;
    }
    h2 {
      margin: 0 20px 0 0;
    }
  }

  .home-footer {
    width: 83.3333%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .ant-btn.link-small {
      padding-left: 0;
      height: 40px;
      line-height: 40px;
    }
  }

@media only screen and (max-width: 1250px) {
  // sighin
    .aside-banner {
      h1 {
        font-size: 28px;
        margin-bottom: 50px;
      }
      ul {
        font-size: 18px;
      }
    }

  // landing
#landing-page {
  .aside-wrapper {
    height: 450px;
    .aside-landing-banner {
      justify-content: center;
    }
  }
  .landing-exchange {
    align-items: center;
  }
  .deals {
    margin: 20px auto 50px;
    .deals-per-day {
      font-size: 24px;
    }
  }
}

  .exchange-info {
    flex-direction: column;
    .rate-info {
      width: 50%;
    }
  }
}


@media only screen and (max-width: 991px) {
  .col-banner {
    display: none;
  }
  .col.login-wrapper {
    section {
      margin: 0 auto;
    }
    .login-form {
      width: 100%;
      label {
        font-size: 14px;
      }
      .lable-description {
        margin: 18px 0;
      }
    }
    .login-footer {
      width: 100%;
      .link-small {
        padding-left: 0;
      }
    }
  }

  #landing-page {
    .aside-wrapper {
      height: 380px;
      .aside-landing-banner {
        h1 {
          text-align: center;
        }
      }
    }
    .landing-exchange {
      width: 100%;
      max-width: 100%;
      display: block;
      .exchange-box {
        max-width: 600px;
        text-align: center;
        width: 95%;
        margin: 0 auto;
      }
    }
    .deals {
      margin: 50px auto 50px;
      align-items: center;
    }
    .btn-get-started {
      display: none;
    }
  }
  .faq-wrapper {
    width: 70%;
  }
  #faq .questions-list {
    font-size: 18px;
  }
  .landing-section-header {
    font-size: 30px;
  }
  #how-it-works .trading h3 {
      font-size: 24px;
  }
  #payment-systems .ps-logos-container .payment-logo {
    max-width: 80px;
  }
  .landing-footer {
    display: block;
    .menu {
      display:none;
    }
    .copyrights {
      width: 100%;
      margin: 20px 0 0;
      text-align: center;
    }
    .go-to-top {
      display: block;
    }
  }
  .home-row {
    width: 90%;
    margin: 0 auto;
    .ant-card {
      margin-top: 30px;
      h2 {
        text-align: center;
      }
    }
    .exchange-box {
      text-align: center;
      width:100%;
    }
    .reserve-table {
      width: 100%;
    }
  }
}

//  help page
.full-height.ant-layout {
  min-height: 100vh;
  background: @color-bg-lighter-grey;
}
